bs4
requests
ipykernel
apache-beam
apache-beam[interactive]
apache_beam[gcp]
pandas
nltk
sklearn
pandas_gbq
plotnine
tabpy
pymagnitude
spacy
spacy-lookups-data
# uncomment When moving elsewhere, downloads everytime
# https://github.com/explosion/spacy-models/releases/download/en_core_web_md-2.2.5/en_core_web_md-2.2.5.tar.gz
geopy
folium
geocoder
plotly
nbformat
keras
tensorflow
