{% extends 'base_template.html' %}

{% block content %}

<div id="app" class="app-holder container">
  <div class="row">
    <div class="offset-md-10 col">
      <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-secondary" v-on:click="previousPage()" v-if='currentPage > 0'>Previous</button>
        <button type="button" class="btn btn-secondary" v-on:click="nextPage()">Next</button>
      </div>
    </div>
    <hr>
  </div>

  <div class="row h-75" style="position:relative;">
    <div class="col-md-12 h-100 d-inline-block" v-if="currentPage == 0">
      <span class="kbs-heading  h-100 d-inline-block d-flex align-items-center justify-content-center" onclick="window.location = '/'">

        <span href="#" data-toggle="collapse" data-target="#one">
          <i class="fas fa-chart-line"></i><br>
          <p class='under-text'>Analytics.</p>
        </span>
        <span href="#" data-toggle="collapse" data-target="#one">
          <i class="fas fa-place-of-worship"></i><br>
          <p class='under-text'>Religions.</p>
        </span>
        <span href="#" data-toggle="collapse" data-target="#one">
          <i class="fas fa-book-open"></i><br>
          <p class='under-text'>Books.</p>
        </span>
        <!--  -->
      </span>
    </div>
    <div class="col" id="viewbox">

    </div>
  </div>
</div>
<script src="{{ url_for('static' , filename='js/app.js')}}"></script>
{% endblock %}
