.embed-dash{
  scroll:none;
}

.dash-embed > iframe{
  height:100%;
  width:100%;
  background-color:  #2d3236;
}
.dash-div{
  height: 100vh;
}

body{
  background-color: #2d3236;
  color:white;
}

.kbs-heading{
  text-align: center;
}
.kbs-heading i{
  color:#5e6565;
  font-size: 15em;
}

.kbs-heading .under-text{
  font-size: 3em;
}


.app-holder {
  height:100vh;
  overflow: hidden;
}

.d3-popup{
  background: #3d3539d4;
  position: absolute;
  top:1%;
  width:25%;
}

.d3-legend-box{
  fill:grey
}
